* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "WorkSans-Regular";
  color: rgb(49, 20, 53);
  background-color: rgb(250, 238, 255);
  background-image: url("./public/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
@font-face {
  font-family: "WorkSans-Regular";
  src: url("./public/fonts/WorkSans-VariableFont_wght.ttf");
}
.imgtop {
  height: 300px;
}
.card {
  position: absolute;
  right: 30px;
  left: 30px;
  margin: auto;
  background-color: white;
  height: auto;
  width: auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 20px rgba(49, 20, 53, 0.215);
  border-radius: 10px;
  gap: 10px;
}
.title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.title img {
  height: 30px;
  width: auto;
}
h1 {
  font-size: 35px;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.question img {
  height: 20px;
  width: auto;
}
h3 {
  font-size: 14px;
  font-weight: 600;
}

p {
  font-size: 14px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  color: rgb(142, 118, 152);
  transition: all 0.3s ease;
}
.visible {
  max-height: 110px;
  opacity: 100%;
  border-bottom: none;
}
